<h1 class = "search_page">Show Finders</h1>
    
<main class = "search_page">
    <p>
        This is a website that can search the shows.<br>
        Please type in the show name that you want to search below.<br> 
    </p>

    <form action = "/search" method = "POST" class = "search_page">
        <label for = "show_name">Show name</label><br>
        <input type = "text" id = "show_name" name = "show_name"><br>
        <input type = "Submit" value = "Submit" class = "Submit">
    </form>
        
</main>
    




