<form id = "form_id">
    <label for = "index" class = 'input_text'>Input the index</label>
    <input type = "number" class = 'index' id = "index" name = "index" value = "{{index}}">
            
    <div class="form-group hidden" id="error_holder">
        <div class="alert alert-danger text-goes-here">
        </div>
    </div>
            
    <button type = "submit">Submit</button>

</form>

<ol id = "results"></ol>